@font-face{
font-family: JMSansBlack;
src: url(../fonts/JMSans-Black.otf);
}
@font-face{
font-family: JMSansBlackItalic;
src: url(../fonts/JMSans-BlackItalic.otf);
}
@font-face{
font-family: JMSansBold;
src: url(../fonts/JMSans-Bold.otf);
}
@font-face{
font-family: JMSansBoldItalic;
src: url(../fonts/JMSans-BoldItalic.otf);
}
@font-face{
font-family: JMSansItalic;
src: url(../fonts/JMSans-Italic.otf);
}
@font-face{
font-family: JMSansLight;
src: url(../fonts/JMSans-Light.otf);
}
@font-face{
font-family: JMSansLightItalic;
src: url(../fonts/JMSans-LightItalic.otf);
}
@font-face{
font-family: JMSansMedium;
src: url(../fonts/JMSans-Medium.otf);
}
@font-face{
font-family: JMSansMediumItalic;
src: url(../fonts/JMSans-MediumItalic.otf);
}
@font-face{
font-family: JMSansRegular;
src: url(../fonts/JMSans-Regular.otf);
}
@font-face{
font-family: JMSansExtBlack;
src: url(../fonts/JMSansExtBlack.otf);
}
@font-face{
font-family: JMSansExtBold;
src: url(../fonts/JMSansExtBold.otf);
}
@font-face{
font-family: JMSansExtLight;
src: url(../fonts/JMSansExtLight.otf);
}
@font-face{
font-family: JMSansExtMedium;
src: url(../fonts/JMSansExtMedium.otf);
}
@font-face{
font-family: JMSansExtRegular;
src: url(../fonts/JMSansExtRegular.otf);
}









